h1 {
    font-family: Copperplate, fantasy;
    background-color:rgb(160, 164, 170);
    text-align: center;
}

h2{
    margin: 10px;
}

.categories-box{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 52px;
}

.categories{
    max-width: 200px;
}

ul {
    margin: 0px;
}

img {
    height: auto;
    width: 450px;
}